.App {
  text-align: center;
  padding: 20px;
  border: 1px solid rgb(90, 90, 80, 0.25);
  background-color: rgb(90, 90, 80, 0.25);
}

#containerForApp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 105vh;
  min-width: 105vh;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin: 0px 0px 0px -35px;
}
